name: Docker publish
on:
    workflow_dispatch:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/typedigital/cv-manager
                  tags: |
                      type=ref,event=branch
                      type=ref,event=tag
                      type=raw,value=latest,enable={{is_default_branch}}
                      type=raw,value=latest-prod,enable={{is_default_branch}}
                      type=raw,value=latest-staging,enable=${{ github.event_name == 'pull_request' }}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}